{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="card card-authentication1 mx-auto my-4">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <img src="{{ asset('images/logo/logo-removebg-preview.png') }}"
                             alt="Allo Ouvrier Logo"
                             style="height: 10vh; width: auto;">
                    </div>
                    <div class="card-title text-uppercase text-center py-3">Sign Up</div>
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label for="exampleInputName" class="sr-only">Username</label>
                            <div class="position-relative has-icon-right">
                                {{ form_row(form.username) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmailId" class="sr-only">Email</label>
                            <div class="position-relative has-icon-right">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword" class="sr-only">Password</label>
                            <div class="position-relative has-icon-right">
                                {{ form_row(form.password) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Sign Up</button>

                    {{ form_end(form) }}
                </div>
            </div>
            <div class="card-footer text-center py-3">
                <p class="text-warning mb-0">Already have an account? <a href="{{ url('app_login') }}"> Sign In here</a></p>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--wrapper-->
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: rgb(151,255,168);
            background: linear-gradient(90deg, rgba(151,255,168,1) 0%, rgba(105,230,255,1) 100%);
        }
    </style>
    <!-- loader-->
    <link href="{{ asset('css/pace.min.css') }}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Custom Style-->
    <link href="{{ asset('css/app-style.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('js/pace.min.js') }}"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- sidebar-menu js -->
    <script src="{{ asset('js/sidebar-menu.js') }}"></script>
    <!-- Custom scripts -->
    <script src="{{ asset('js/app-script.js') }}"></script>
{% endblock javascripts %}
